# Airflow UID (for linux permission mapping)
AIRFLOW_UID=50000

# Airflow Postgres Metadata DB
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# MySQL Data Warehouse
MYSQL_ROOT_PASSWORD=your_secure_password
MYSQL_DATABASE=ecommerce_data
MYSQL_USER=ecommerce_user
MYSQL_PASSWORD=ecommerce_pass
MYSQL_HOST=mysql_db
MYSQL_PORT=3306

# Airflow Connection URI
AIRFLOW_CONN_MYSQL_ECOMMERCE_DATA=mysql://ecommerce_user:ecommerce_pass@mysql_db:3306/ecommerce_data

# Email alerts
AIRFLOW__SMTP__SMTP_HOST=
AIRFLOW__SMTP__SMTP_USER=
AIRFLOW__SMTP__SMTP_PASSWORD=
AIRFLOW__SMTP__SMTP_PORT=587
AIRFLOW__SMTP__SMTP_MAIL_FROM=

